@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-surface text-on-surface font-body m-0;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  vertical-align: middle;
}

.premium-gradient {
  background: linear-gradient(135deg, #24389c 0%, #3f51b5 100%);
}

.glass-panel {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
}
